body
{
	background-color: beige;
}
h1
{
	color: darkbrown;
	background-color: softyellow;
	font-family: verdana;
	border: 5px dashed;
}
h3
{
	color: red;
	text-align: center;
}
p
{
	text-align: center;
	font-family: Times new roman;
	color: darkblue;
	font-size: 25px;
}
table, tr, td, th
{
	border: 5px red solid;
	border border-collapse: collapse;
}
th
{
	background-color: purple;
	color: yellow;
}
tr:hover
{
	background-color: saddlebrown;
}
